<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l12">
      <div class="center">
        <h5 class="white-text center">ABOUT YA-MENTOR</h5>
        <p class="center grey-text text-lighten-1">Ya-Mentor is the free mentorship and networking platform for your YABA suburb of Lagos State, Nigeria. Residents, Workers, Students, etc within Yaba and environs get on the platform to either coach others OR learn from experts referred to
                as Mentors. Sit back and relax as Ya-Mentor makes your Yaba experience a unique one </p>
      </div>
      </div>
  </div>
  <div class="footer-copyright center-align">
    <div class="container">
      Developed by <a class="brown-text text-lighten-3" href="#">Andela team for CcHub HyberLocal hackathon</a>
    </div>
  </div>
</footer>
