<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container action">
      <br>
      <br>
      <h3 class="header center black-text">CONNECT WITH MENTORS</h3>
      <h5 class=" black-text center">in your neighourhood</h5>
      <div class="row center btn-custom">
        <a ng-href="#/user/auth-user" id="download-button" class="btn-large waves-effect waves-light modal-trigger">Get Started</a>
      </div>
      <div class="row center">
        <h6 class="header col s12 light" style="color: black;font-size: x-large;line-height: 2em;" class="typer-target" data-typer-targets="Residents of Yaba can now pair experts in their neighbourhood to learn anything, yes! anything...">
        </h6>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/yaba.png"></div>
</div>
<div class="">
  <div class="section scrollspy" id="features">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-image-healing icon-custom "></i></h2>
          <h5 class="center">Find a Mentor</h5>
          <p class="center light">Browse through our directory and find a Mentor that matches your interests in Yaba</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-social-public icon-custom"></i></h2>
          <h5 class="center">Connect with Mentor</h5>
          <p class="center light">Make a connection request to the skilled Mentor by registering on the platform</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-hardware-memory icon-custom"></i></h2>
          <h5 class="center">Schedule & Meet</h5>
          <p class="center light">Setup a meeting and choose from our list of secure and strategic locations in Yaba</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper  hide-on-med-and-down" style="background-color: black; min-height: 300px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h2 class="header center white-text text-lighten-2">Live Smarter</h2>
      <div class="row center">
        <h5 class="header col s12 light">Leverage on the resources close to you.</h5>
      </div>
    </div>
  </div>
</div>
<div id="getStarted" class="row modal">
  <div class="col s12">
    <ul class="tabs modal-header">
      <li class="tab col l4 s3"><a class="active" href="#signUp">Get started</a></li>
      <li class="tab col l8 s3"><a href="#signIn"><span>Already have an account?</span>
          &nbsp;Sign In</a></li>
    </ul>
  </div>
  <!-- Sign up structure -->
  <div id="signUp">
    <div class="modal-content">
      <div class="row center">
        <div>
          <a ng-href="/auth/facebook" class="waves-effect waves-light btn-facebook"><span class="btn-logo"><img src="assets/images/facebook.svg"></span>Sign in with facebook</a>
        </div>
        <div>
          <a ng-href="/auth/google" class="waves-effect waves-light btn-google"><span class="btn-logo"><img src="assets/images/google-plus.svg"></span>Sign in with google</a>
        </div>
      </div>
      <div class="line no-marign-bottom"></div>
      <div class="or row center no-marign-bottom">OR</div>
      <div class="row center no-marign-bottom">
        <form class="col l8 s12" style="margin: 0 16%;">
          <div class="row center no-marign-bottom">
            <div class="input-field col s6">
              <input id="firstname" type="text" class="validate">
              <label for="firstname">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="lastname" type="text" class="validate">
              <label for="lastname">Last Name</label>
            </div>
          </div>
          <div class="row center no-marign-bottom">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email Address</label>
            </div>
          </div>
          <div class="row center no-marign-bottom">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row center no-marign-bottom">
            <div class="input-field col s12">
              <input id="signup" type="submit" value="Sign Up" class="waves-effect waves-light btn-facebook">
            </div>
          </div>
        </form>
      </div>
      <!--  <div class="row center signin">
          <span>Already have an account?</span>
          &nbsp;
          <a href="#signIn">Sign in</a>
        </div> -->
    </div>
  </div>
  <!-- Sign in structure -->
  <div id="signIn">
    <div class="modal-content">
      <div class="row center">
        <div>
          <a ng-href="/auth/facebook" class="waves-effect waves-light btn-facebook"><span class="btn-logo"><img src="assets/images/facebook.svg"></span>Sign in with facebook</a>
        </div>
        <div>
          <a ng-href="/auth/google" class="waves-effect waves-light btn-google"><span class="btn-logo"><img src="assets/images/google-plus.svg"></span>Sign in with google</a>
        </div>
      </div>
      <div class="line no-marign-bottom"></div>
      <div class="or row center no-marign-bottom">OR</div>
      <div class="row center no-marign-bottom">
        <form class="col l8 s12" style="margin: 0 16%;">
          <div class="row center no-marign-bottom">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email Address</label>
            </div>
          </div>
          <div class="row center no-marign-bottom">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row center no-marign-bottom">
            <div class="input-field col s12">
              <input id="signin" type="submit" value="Sign In" class="waves-effect waves-light btn-facebook">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
