<div id="slide-out" class="side-nav fixed">
  <div ng-include="'app/views/sidenav.view.html'"></div>
</div>
<div class="parallax-container valign-wrapper" style="min-height: 100px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="row center container">
      <h4 class="col s12 l10 light offset-l2">
        Live Pairing Editor for {{craftData.title}}
        </h4>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="row container offset-custom">
  <div>
    {{counter}} seconds left |
    <button ng-click='stopTimer()'>End Session</button>
  </div>
  <div id="userlist" class="col l3 s12"></div>
  <div id="firepad" class="col l9 s12"></div>
</div>
