<div class="parallax-container valign-wrapper" style="min-height: 250px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h2 class="header center white-text text-lighten-2">Congratulations!</h2>
      <div class="row center">
        <h5 class="col s12 light">
        Your transaction was successful and your account has been credited
        </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="row center btn-subscribe" style="margin: 4em auto;">
  <a href="#/wallet/user/{{decodedToken.user._id}}" id="download-button" class="btn-large waves-effect waves-light">Continue</a>
</div>
